QSSWidget,QSSFrame,QSSTextBrowser,QSSPlainTextEdit {
    border: 1px solid #a8b0bc;
}


/*------------------IO style-------------*/
QSSLineEdit{
    border: 1px solid #a8b0bc;
    color: #272727;
}

QSSLineEdit:hover,QSSLineEdit:focus{
    background: #fff;
    border: 1px solid #2196f3;
}

QSSLineEdit:pressed{
    background: #fff;
    border: 1px solid #2196f3;
}

QSSLineEdit:disabled{
    background: #f0f0f0;
    border: 1px solid #dedede;
    color:#999999;
}


/*------------------button style-------------*/
QSSPushButton, QSSButton{
    border:1px solid #2196f3;
    background:#2196f3;
    color:#ffffff;
}

QSSPushButton:hover, QSSButton:hover{
    border:1px solid #0c7cd5;
    background:#0c7cd5;
    color:#ffffff;
}

QSSPushButton:checked, QSSPushButton:focus, QSSPushButton:pressed, 
 QSSButton:checked, QSSButton:focus, QSSButton:pressed{
    border:1px solid #0c7cd5;
    background:#0c7cd5;
    color:#ffffff;
}

QSSPushButton:disabled, QSSButton:disabled{
    border:1px solid #79c0f8;
    background:#79c0f8;
    color:#fae1fe;
 }
 
 
 /*------------------text style-------------*/
QSSLabel:pressed{	 
    color:#1e1e1e;
    background: transparent; 
}

 QSSLabel:disabled{	 
    color:#999999;
}


 /*------------------ProgressBar style-------------*/
QSSProgressBar{
    border:1px solid #a6d5fa;
    color:#ffffff;
    text-align: center;
    background: #a6d5fa;
 }
 
QSSProgressBar::chunk{
    background-color:#2196f3;
 }
 
QSSProgressBar:disabled{
    border: 1px solid #dedede;
     color:#999999;
     text-align: center;
     background: #f0f0f0;
 }
 
QSSProgressBar::chunk:disabled{
     background-color:#ccd4ff;
 }
 
 
 /*------------------ComboBox style-------------*/
 QSSComboBox{
    border: 1px solid #a8b0bc;
    background:#ffffff;
    color: #272727;
}

QSSComboBox:hover, QSSComboBox:focus{
    background: #fff;
    border: 1px solid #2196f3;
    color: #272727;
}

QSSComboBox:disabled{
    background: #f0f0f0;
    border: 1px solid #dedede;
    color:#999999;
}

QSSComboBox::drop-down{
    background:#ffffff;
    subcontrol-position: top right;
    width: 24px;
}

QSSComboBox::drop-down:hover, QSSComboBox::drop-down:focus{
    background:#fafafa;
}

QSSComboBox::drop-down:disabled{
    background:#f0f0f0;
}

QSSComboBox::down-arrow{
    width:16px;
    height:16px;
    border-image: url(:images/drop_down_arrow.png);
}

QSSListView, QSSListWidget{
    border: 1px solid #aaaaaa;
}

QSSListView::item, QSSListWidget::item{
     height:32px;
 }
 
QSSListView::item:selected, QSSListWidget::item:selected{
     background: #2196f3;
 }
 
QSSListView::item:hover, QSSListWidget::item:hover{
     background: #2196f3;
 }
 
 /*------------------ScrollBar style-------------*/
 QSSScrollBar:vertical{
    width:18px;
    background: #f8f8f8;
    margin : 0,0,0,0;
}


QSSScrollBar::handle:vertical{
   border: 1px solid #b3b3b3;
   border-radius:0px;
   background:#f6f6f6;
   min-height: 18px;
}

QSSScrollBar::handle:vertical:hover{
    background: #e6e6e6;
}

QSSScrollBar::handle:vertical:pressed{
    background: #e6e6e6;
}

QSSScrollBar::sub-line:vertical{
   height: 0px;
   width:  0px;   
}

QSSScrollBar::add-line:vertical{
   height: 0px;
   width:  0px;   
}

/*------------------ScrollBar style-------------*/
QSSScrollBar:horizontal{
    height: 18px;
    background:#f8f8f8;
    margin : 0,0,0,0;
}

QSSScrollBar::handle:horizontal{
    border: 1px solid #b3b3b3;
    border-radius:0px;
    background: #f6f6f6;
    min-width: 18px;
}

QSSScrollBar::handle:horizontal:hover{
    background: #e6e6e6;
}

QSSScrollBar::handle:horizontal:pressed{
    background: #e6e6e6;
}

QSSScrollBar::sub-line:horizontal{
   height: 0px;
   width:  0px;   
}

QSSScrollBar::add-line:horizontal{
   height: 0px;
   width:  0px;   
}



/*------------------table style-------------*/
QSSTableView{
    border: 1px solid #b3b3b3;
    gridline-color: #dddddd;
    selection-background-color: #2196f3;
    selection-color: #fff;
 }

QSSTableView::item:disabled{
     color: #999999;
     background:#f0f0f0;
 }
 
/*------------------table header style-------------*/
QHeaderView{
    background-color: #ffffff;
}

QHeaderView::section, QTableCornerButton::section{
    border: 1px solid #dddddd;
    background-color: #f2f2f2;
    color:#1e1e1e;
 }
 
QHeaderView:disabled, QTableCornerButton::section:disabled{
    background-color: #f0f0f0;
}

QHeaderView::section:horizontal,QHeaderView#hHeader::section{
    border-width: 1px 1px 1px 0px;/*left*/
    height:36px;
 }

QHeaderView::section:vertical,QHeaderView#vHeader::section{
    border-width: 0px 1px 1px 1px;/*top*/
 }
 
QHeaderView::section:hover, QHeaderView::section:pressed{
    background-color:#c1c1c1;
    color:#1e1e1e;
 }
 
QHeaderView::section:disabled{
    background-color:#f0f0f0;
    color:#999999;
 }

/*------------------dialog style-------------*/
QSSDialog{ 
	border:1px solid #0c7cd5;
} 

QSSLabel#title{ 
	border-bottom:1px solid #dddddd; 
	padding-left: 11px; 
	font: bold 20px;
	color:#ffffff; 
	background-color:#0c7cd5;
} 

/*------------------treeview style-------------*/
QSSTreeView{
	border:1px solid #0c7cd5;
}

/*------------------CheckBox style-------------*/
QSSCheckBox {
    color:#424242;
    background-color:transparent;
}

QSSCheckBox:disabled { 
    color: rgb(80,80,80);  
}

QSSCheckBox::indicator {
    background: transparent;
    border-width: 0px;
}

QSSCheckBox::indicator::unchecked {
    border-image: url(:/images/un_checkbox.png) 0 72 0 0;
}

QSSCheckBox::indicator:unchecked:hover {
    border-image: url(:/images/un_checkbox.png) 0 48 0 24;
}

QSSCheckBox::indicator:unchecked:pressed {
    border-image: url(:/images/un_checkbox.png) 0 24 0 48;
}

QSSCheckBox::indicator:unchecked:disabled {
    border-image: url(:/images/un_checkbox.png) 0 0 0 72;
}

QSSCheckBox::indicator::checked {
    border-image: url(:/images/checkbox.png) 0 72 0 0;
}

QSSCheckBox::indicator:checked:hover {
    border-image: url(:/images/checkbox.png) 0 48 0 24;
}

QSSCheckBox::indicator:checked:pressed {
    border-image: url(:/images/checkbox.png) 0 24 0 48;
}

QSSCheckBox::indicator:checked:disabled {
    border-image: url(:/images/checkbox.png) 0 0 0 72;
}