/*--所有样式属性说明
	color:#ffffff;  文本颜色：颜色色值
	background:#32333F;  背景颜色：颜色HEX色值
	background:rgba(255,255,255,0);  背景颜色：rgb色值（红色，绿色，蓝色，不透明度）
	background:transparent;  背景颜色：透明
	background:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #64697B, stop:1 #3E4252);  背景颜色：从（0,0）至（0,1），由色值#64697B至色值#3E4252渐变色
	background-color:#32333F;  背景颜色，background-color与background在设置颜色时使用类似
	border:1px solid #64697B;  边框：大小 实线型 颜色HEX色值
	border-left:0px solid #B9C2D5;  左侧边框
	border-right:0px solid #B9C2D5;  右侧边框
	border-top:0px solid #B9C2D5; 上侧边框
	border-bottom:0px solid #B9C2D5;  下侧边框
	border-radius:2px;  边框圆角：大小
	font:26px;  字号：大小
	margin:2px;  外边距：大小
	padding:0px 8px;  内边距：上下边距大小 左右边距大小
--*/

QSSWidget,
QSSFrame,
QSSTextBrowser,
QSSPlainTextEdit
{
	border: 1px solid #adb1c2;
}

/*------------ 数值IO域 字符IO域样式 ------------*/
/*-- 默认样式 --*/
QSSLineEdit {
    border: 1px solid #B9C2D5;
    color: #0C1A34;
    border-radius: 2px;
    background: #FFFFFF;
}

/*-- 鼠标悬浮样式 --*/
QSSLineEdit:hover {
    border: 1px solid #CCE2FF;
}

/*-- 焦点/按下样式 --*/
QSSLineEdit:focus,
QSSLineEdit:pressed {
    border: 2px solid #2276D9;
}

/*-- 禁用样式 --*/
QSSLineEdit:disabled {
    background: #E2E8F2;
    border: 1px solid #B9C2D5;
    color: #6F7A8E;
}

/*------------ 按钮样式 ------------*/
/*-- 默认样式 --*/
QSSPushButton,
QSSButton#QSSButton_Type {
    border: 1px solid #B9C2D5;
    color: #0C1A34;
    border-radius: 2px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F9FBFD, stop:0.5 #F9FBFD, stop:1 #E0E5EF);
}

/*-- 鼠标悬浮样式 --*/
QSSPushButton:hover,
QSSButton#QSSButton_Type:hover {
    border: 1px solid #BEDAFF;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F3F8FF, stop:0.5 #F3F8FF, stop:1 #D1DFF5);
}

/*-- 选中/焦点/按下样式 --*/
QSSPushButton:checked,
QSSPushButton:focus,
QSSPushButton:pressed,
QSSButton#QSSButton_Type:checked,
QSSButton#QSSButton_Type:focus,
QSSButton#QSSButton_Type:pressed {
    border: 1px solid #C6CDDC;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #EAF0F9, stop:0.5 #EAF0F9, stop:1 #CED7E7);
}

/*-- 禁用样式 --*/
QSSPushButton:disabled,
QSSButton#QSSButton_Type:disabled {
    color: #9EA3AE;
    border: 1px solid #E3E7EE;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FDFDFE, stop:0.5 #FDFDFE, stop:1 #F4F6FA);
}


/*------------ 按钮样式2-用于弹窗确认按钮 ------------*/
/*-- 默认样式 --*/
QSSPushButton.primary,
QSSButton.primary {
    border: 1px solid #3399FF;
    color: #FFFFFF;
    border-radius: 2px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #3CAEFF, stop:1 #0861F4);
}

/*-- 鼠标悬浮样式 --*/
QSSPushButton.primary:hover,
QSSButton.primary:hover {
    border: 1px solid #3399FF;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #3C98E0, stop:1 #1660D8);
}

/*-- 选中/焦点/按下样式 --*/
QSSPushButton.primary:checked,
QSSPushButton.primary:focus,
QSSPushButton.primary:pressed,
QSSButton.primary:checked,
QSSButton.primary:focus,
QSSButton.primary:pressed {
    border: 1px solid #3399FF;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #3E8AC9, stop:1 #1F5DC3);
}

/*-- 禁用样式 --*/
QSSPushButton.primary:disabled,
QSSButton.primary:disabled {
    color: #9EA3AE;
    border: 1px solid #ADD6FF;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #B0DDFF, stop:1 #9DC1FB);
}


/*------------ 文本域样式 ------------*/
/*-- 默认样式 --*/
QSSLabel {
    color: #0C1A34;
    background: transparent;
}

/*-- 按下样式 --*/
QSSLabel:pressed {
    color: #0C1A34;
    background: transparent;
}

/*-- 禁用样式 --*/
QSSLabel:disabled {
    color: #6F7A8E;
}

/*------------ ProgressBar样式 ------------*/
/*-- 默认样式 --*/
QSSProgressBar {
    border: 1px solid #adb1c2;
    color: #1e1e1e;
    text-align: center;
    background: #ffffff;
}

QSSProgressBar::chunk {
    background-color: #ccd4ff;
}

/*-- 禁用样式 --*/
QSSProgressBar:disabled {
    border: 1px solid #dedede;
    color: #999999;
    text-align: center;
    background: #f0f0f0;
}

QSSProgressBar::chunk:disabled {
    background-color: #ccd4ff;
}

/*------------符号IO域样式------------*/
/*-- 符号IO域输入框样式 --*/
/*-- 默认样式 --*/
QSSComboBox {
    border: 1px solid #B9C2D5;
    background: #FFFFFF;
    color: #0C1A34;
    border-radius: 2px;
}

/*-- 鼠标悬浮样式 --*/
QSSComboBox:hover {
    border: 1px solid #CCE2FF;
}

/*-- 焦点样式 --*/
QSSComboBox:focus {
    border: 1px solid #B9C2D5;
}

/*-- 禁用样式 --*/
QSSComboBox:disabled {
    background: #E2E8F2;
    border: 1px solid #B9C2D5;
    color: #6F7A8E;
}

/*-- 符号IO域下拉按钮样式 --*/
/*-- 默认样式 --*/
QSSComboBox::drop-down {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F9FBFD, stop:0.5 #F9FBFD, stop:1 #E0E5EF);
    border-left: 1px solid #B9C2D5;
    subcontrol-position: top right;
    width: 36px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

/*-- 鼠标悬浮/焦点样式 --*/
QSSComboBox::drop-down:hover,
QSSComboBox::drop-down:focus {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F9FBFD, stop:0.5 #F9FBFD, stop:1 #E0E5EF);
}


QSSComboBox::drop-down:disabled {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #E2E8F2, stop:0.5 #E2E8F2, stop:1 #E4E8EE);
}

/*-- 符号IO域下拉按钮图标样式 --*/
QSSComboBox::down-arrow {
    background-image: url(://images/drop_down_black_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/*-- 符号IO域下拉列表样式 --*/
QSSListView,
QSSListWidget {
    color: #0C1A34;
    border-radius: 2px;
    border: 1px solid #B9C2D5;
    background: #ffffff;
}

/*-- 下拉列表行-默认样式 --*/
QSSListView::item,
QSSListWidget::item {
    height: 36px;
}

/*-- 下拉列表行-选中样式 --*/
QSSListView::item:selected,
QSSListWidget::item:selected {
    color: #ffffff;
    background: #2276D9;
}

/*-- 下拉列表行-鼠标悬浮样式 --*/
QSSListView::item:hover,
QSSListWidget::item:hover {
    color: #0C1A34;
    background: #CCE2FF;
}

/*------------通用滚动条样式------------*/
/*-- 竖直滚动条整体样式 --*/
QSSScrollBar:vertical {
    width: 32px;
    background: #F6F7F9;
    margin-top: 32px;
    margin-bottom: 32px;
    border: 1px solid #C6CDDC;
}

/*-- 竖直滚动条拖动按钮样式 --*/
/*-- 默认样式 --*/
QSSScrollBar::handle:vertical {
    border: 1px solid #C6CDDC;
    border-radius: 4px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F9FBFD, stop:0.5 #F9FBFD, stop:1 #E0E5EF);
    background-image: url(://images/scrollBar_v_dark.svg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 30px;
    margin: 2px;
}

/*-- 鼠标悬浮样式 --*/
QSSScrollBar::handle:vertical:hover {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F3F8FF, stop:0.5 #F3F8FF, stop:1 #D1DFF5);
    background-image: url(://images/scrollBar_v_dark.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-color: #BEDAFF;
}

/*-- 按下样式 --*/
QSSScrollBar::handle:vertical:pressed {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #EAF0F9, stop:0.5 #EAF0F9, stop:1 #CED7E7);
    background-image: url(://images/scrollBar_v_dark.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-color: #C6CDDC;
}

/*-- 禁用样式 --*/
QSSScrollBar::handle:vertical:disabled {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FDFDFE, stop:0.5 #FDFDFE, stop:1 #F4F6FA);
    background-image: url(://images/scrollBar_v_dark.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-color: #E3E7EE;
}

/*-- 竖直滚动条上按钮样式 --*/
QSSScrollBar::sub-line:vertical {
    width: 30px;
    height: 30px;
    subcontrol-position: top;
    subcontrol-origin: margin;
    border: 1px solid #C6CDDC;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F9FBFD, stop:0.5 #F9FBFD, stop:1 #E0E5EF);
    background-image: url(://images/drop_up_black_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/*-- 竖直滚动条下按钮样式 --*/
QSSScrollBar::add-line:vertical {
    width: 30px;
    height: 30px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    border: 1px solid #C6CDDC;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F9FBFD, stop:0.5 #F9FBFD, stop:1 #E0E5EF);
    background-image: url(://images/drop_down_black_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/*-- 竖直滚动条上按钮-鼠标悬浮样式 --*/
QSSScrollBar::sub-line:vertical:hover {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F3F8FF, stop:0.5 #F3F8FF, stop:1 #D1DFF5);
    background-image: url(://images/drop_up_black_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/*-- 竖直滚动条下按钮-鼠标悬浮样式 --*/
QSSScrollBar::add-line:vertical:hover {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F3F8FF, stop:0.5 #F3F8FF, stop:1 #D1DFF5);
    background-image: url(://images/drop_down_black_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/*-- 水平滚动条整体样式 --*/
QSSScrollBar:horizontal {
    height: 32px;
    background: #F6F7F9;
    margin-left: 32px;
    margin-right: 32px;
    border: 1px solid #C6CDDC;
}

/*-- 水平滚动条拖动按钮样式 --*/
/*-- 默认样式 --*/
QSSScrollBar::handle:horizontal {
    border: 1px solid #C6CDDC;
    border-radius: 4px;
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #F9FBFD, stop:0.5 #F9FBFD, stop:1 #E0E5EF);
    background-image: url(://images/scrollBar_h_dark.svg);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 30px;
    margin: 2px;
}

/*-- 鼠标悬浮样式 --*/
QSSScrollBar::handle:horizontal:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #F3F8FF, stop:0.5 #F3F8FF, stop:1 #D1DFF5);
    background-image: url(://images/scrollBar_h_dark.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-color: #BEDAFF;
}

/*-- 按下样式 --*/
QSSScrollBar::handle:horizontal:pressed {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #EAF0F9, stop:0.5 #EAF0F9, stop:1 #CED7E7);
    background-image: url(://images/scrollBar_h_dark.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-color: #C6CDDC;
}

/*-- 禁用样式 --*/
QSSScrollBar::handle:horizontal:disabled {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #FDFDFE, stop:0.5 #FDFDFE, stop:1 #F4F6FA);
    background-image: url(://images/scrollBar_h_dark.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-color: #E3E7EE;
}

/*-- 水平滚动条左按钮样式 --*/
QSSScrollBar::sub-line:horizontal {
    width: 30px;
    height: 30px;
    subcontrol-position: left;
    subcontrol-origin: margin;
    border: 1px solid #C6CDDC;
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #F9FBFD, stop:0.5 #F9FBFD, stop:1 #E0E5EF);
    background-image: url(://images/drop_left_black_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/*-- 水平滚动条右按钮样式 --*/
QSSScrollBar::add-line:horizontal {
    width: 30px;
    height: 30px;
    subcontrol-position: right;
    subcontrol-origin: margin;
    border: 1px solid #C6CDDC;
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #F9FBFD, stop:0.5 #F9FBFD, stop:1 #E0E5EF);
    background-image: url(://images/drop_right_black_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/*-- 水平滚动条左按钮-鼠标悬浮样式 --*/
QSSScrollBar::sub-line:horizontal:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #F3F8FF, stop:0.5 #F3F8FF, stop:1 #D1DFF5);
    background-image: url(://images/drop_left_black_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/*-- 水平滚动条右按钮-鼠标悬浮样式 --*/
QSSScrollBar::add-line:horizontal:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #F3F8FF, stop:0.5 #F3F8FF, stop:1 #D1DFF5);
    background-image: url(://images/drop_right_black_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

/*------------通用弹窗样式------------*/
/*-- 弹窗整体样式 --*/
QSSDialog {
    border: 1px solid #2176D9;
    border-radius: 4px;
}

/*-- 弹窗关闭按钮样式 --*/
/*-- 默认样式 --*/
QSSPushButton[QSSDialog=CloseBtn] {
    border: 0px solid #FFFFFF;
    background: url(:/images/dialog-close-white.svg) no-repeat center center;
    border-radius: 16px;
}

/*-- 鼠标悬浮样式 --*/
QSSPushButton[QSSDialog=CloseBtn]:hover {
    background: #3399FF url(:/images/dialog-close-white.svg) no-repeat center center;
}

/*-- 禁用样式 --*/
QSSPushButton[QSSDialog=CloseBtn]:disabled {
    background: #244D95;
}

/*-- 弹窗标题栏样式 --*/
QSSLabel#title {
    border: 1px solid #2176D9;
    border-bottom: 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding-left: 16px;
    font: bold 16px;
    color: #FFFFFF;
    background-color: #2176D9;
}

/*-- 配方视图弹窗整体样式 --*/
QSSDialog#RecipeNewRecordDig {
    background-color: #FFFFFF;
}

QSSLabel#RecipeNewRecordLabel {
    background-color: #FFFFFF;
    color: #0C1A34;
}

/*-- 用户登录弹窗整体样式 --*/
QSSDialog#LogonDialogBg {
    background-color: #FFFFFF;
}

/*-- 用户视图编辑弹窗整体样式 --*/
QSSDialog#UserDialogBg {
    background-color: #FFFFFF;
}

QGroupBox#QGroupBoxFinger {
    border: 1px solid #2176D9;
    color: #FF6600;
}

QSSLabel.QSSLabelFinger:enabled {
    background: yellow;
    border: 1px solid #FF6600;
    color: #FF6600;
}

/*------------TreeView样式------------*/
QSSTreeView {
    border: 1px solid #a9a9a9;
}

/*------------CheckBox样式------------*/
/*-- 默认样式 --*/
QSSCheckBox {
    color: #424242;
    background-color: transparent;
}

/*-- 禁用样式 --*/
QSSCheckBox:disabled {
    color: rgb(80, 80, 80);
}

QSSCheckBox::indicator {
    background: transparent;
    border-width: 0px;
}

/*-- 未选-默认样式 --*/
QSSCheckBox::indicator::unchecked {
    border-image: url(:/images/un_checkbox.png) 0 72 0 0;
}

/*-- 未选-鼠标悬浮样式 --*/
QSSCheckBox::indicator:unchecked:hover {
    border-image: url(:/images/un_checkbox.png) 0 48 0 24;
}

/*-- 未选-按下样式 --*/
QSSCheckBox::indicator:unchecked:pressed {
    border-image: url(:/images/un_checkbox.png) 0 24 0 48;
}

/*-- 未选-禁用样式 --*/
QSSCheckBox::indicator:unchecked:disabled {
    border-image: url(:/images/un_checkbox.png) 0 0 0 72;
}

/*-- 勾选-默认样式 --*/
QSSCheckBox::indicator::checked {
    border-image: url(:/images/checkbox.png) 0 72 0 0;
}

/*-- 勾选-鼠标悬浮样式 --*/
QSSCheckBox::indicator:checked:hover {
    border-image: url(:/images/checkbox.png) 0 48 0 24;
}

/*-- 勾选-按下样式 --*/
QSSCheckBox::indicator:checked:pressed {
    border-image: url(:/images/checkbox.png) 0 24 0 48;
}

/*-- 勾选-禁用样式 --*/
QSSCheckBox::indicator:checked:disabled {
    border-image: url(:/images/checkbox.png) 0 0 0 72;
}

/*------------配方视图样式------------*/
/*-- 配方视图整体样式 --*/
RecipeView {
    border: 1px solid rgb(207, 213, 216);
    background: rgb(255, 255, 255);
    border-radius: 4px;
}

/*-- 配方视图下拉框样式 --*/
QSSComboBox[Recipe=ComboBox] {
    height: 36px;
}

/*-- 配方视图各个按钮图标 --*/
QSSPushButton[Recipe=helpButton] {
    qproperty-icon: url(:/images/item_help_dark.svg);
    qproperty-iconSize: 24px;
}

QSSPushButton[Recipe=newButton] {
    qproperty-icon: url(:/images/item_new_dark.svg);
    qproperty-iconSize: 24px;
}

QSSPushButton[Recipe=saveButton] {
    qproperty-icon: url(:/images/item_save_dark.svg);
    qproperty-iconSize: 24px;
}

QSSPushButton[Recipe=deleteButton] {
    qproperty-icon: url(:/images/item_delete_dark.svg);
    qproperty-iconSize: 24px;
}

QSSPushButton[Recipe=synchronizeButton] {
    qproperty-icon: url(:/images/item_synchronize_dark.svg);
    qproperty-iconSize: 24px;
}

QSSPushButton[Recipe=renameButton] {
    qproperty-icon: url(:/images/item_rename_dark.svg);
    qproperty-iconSize: 24px;
}

QSSPushButton[Recipe=saveAsButton] {
    qproperty-icon: url(:/images/item_save_as_dark.svg);
    qproperty-iconSize: 24px;
}

QSSPushButton[Recipe=fromPlcButton] {
    qproperty-icon: url(:/images/item_from_plc_dark.svg);
    qproperty-iconSize: 24px;
}

QSSPushButton[Recipe=toPlcButton] {
    qproperty-icon: url(:/images/item_to_plc_dark.svg);
    qproperty-iconSize: 24px;
}

QSSPushButton[Recipe=printButton] {
    qproperty-icon: url(:/images/item_print_dark.svg);
    qproperty-iconSize: 24px;
}

/*-- 配方视图文本样式 --*/
QSSLineEdit[Recipe=Label] {
    height: 36px;
}

/*-- 配方视图按钮样式 --*/
/*-- 默认样式 --*/
QSSPushButton[Recipe=Button] {
    qproperty-iconSize: 24px;
    border: 1px solid rgb(207, 213, 216);
    border-radius: 4px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFFF, stop:1 rgb(239, 239, 239));
}

/*-- 鼠标悬浮样式 --*/
QSSPushButton[Recipe=Button]:hover {
    background: rgb(207, 213, 216);
    border: 1px solid rgb(207, 213, 216);
}

/*-- 焦点样式 --*/
QSSPushButton[Recipe=Button]:focus {
    border: 1px solid rgb(207, 213, 216);
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFFF, stop:1 rgb(239, 239, 239));
}

/*-- 按下样式 --*/
QSSPushButton[Recipe=Button]:pressed {
    background: rgb(207, 213, 216);
    border: 1px solid rgb(207, 213, 216);
}

/*-- 选中样式 --*/
QSSPushButton[Recipe=Button]:checked {
    border: 1px solid rgb(207, 213, 216);
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFFF, stop:1 rgb(239, 239, 239));
}

/*-- 配方视图信息栏样式 --*/
/*-- 提示信息 --*/
QSSLineEdit[Recipe=Info] {
    background: #D3DBE9;
    border: 1px solid #B9C2D5;
    color: #0C1A34;
    padding-left: 20px;
}

/*-- 错误信息 --*/
QSSLineEdit[Recipe=Error] {
    background: #D3DBE9;
    border: 1px solid #B9C2D5;
    padding-left: 20px;
    color: #0C1A34;
}

/*-- 完成信息 --*/
QSSLineEdit[Recipe=Success] {
    background: #D3DBE9;
    border: 1px solid #B9C2D5;
    padding-left: 20px;
    color: #0C1A34;
}

QHeaderView[Recipe=TableVerticalView] {
    qproperty-defaultSectionSize: 36;
}

EntryLineEdit {
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #D9DDE0;
}

EntryLineEdit:hover,
EntryLineEdit:focus {
    border: 1px solid #295AB0;
}

/*------------通用表格样式------------*/
/*-- 表格整体样式 --*/
QSSTableView {
    gridline-color: #C6CDDC;
    selection-background-color: #A5CCFF;
    selection-color: #0C1A34;
    color: #0C1A34;
    border: 1px solid #C6CDDC;
    background: #FFFFFF;
    alternate-background-color: #F1F4F8;
    border-radius: 4px;
}

QHeaderView#SimulatorTable_vhead,
QHeaderView#SimulatorTable_hhead,
QHeaderView#QSSTableView_vHeader,
QHeaderView#QSSTableView_hHeader,
QHeaderView#hHeader{
    background: transparent;
}

/*-- 表格首行样式 --*/
QHeaderView#SimulatorTable_vhead:horizontal,
QHeaderView#SimulatorTable_hhead:horizontal,
QHeaderView#QSSTableView_vHeader:horizontal,
QHeaderView#QSSTableView_hHeader:horizontal,
QHeaderView#hHeader:horizontal {
    qproperty-defaultSectionSize: 40;
    background: #E2E8F2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

QHeaderView#SimulatorTable_vhead::section:horizontal,
QHeaderView#SimulatorTable_hhead::section:horizontal,
QHeaderView#QSSTableView_vHeader::section:horizontal,
QHeaderView#QSSTableView_hHeader::section:horizontal,
QHeaderView#hHeader::section:horizontal {
    border: 0px solid #C6CDDC;
    background-color: #E2E8F2;
    color: #0C1A34;
}

/*-- 表格首行-禁用样式 --*/
QHeaderView#SimulatorTable_vhead:horizontal:disabled,
QHeaderView#SimulatorTable_hhead:horizontal:disabled,
QHeaderView#QSSTableView_vHeader:horizontal:disabled,
QHeaderView#QSSTableView_hHeader:horizontal:disabled,
QHeaderView#hHeader:horizontal:disabled {
    background-color: #f0f0f0;
}

QHeaderView#SimulatorTable_vhead::section:horizontal,
QHeaderView#SimulatorTable_hhead::section:horizontal,
QHeaderView#QSSTableView_vHeader::section:horizontal,
QHeaderView#QSSTableView_hHeader::section:horizontal,
QHeaderView#SimulatorTable_vhead::section,
QHeaderView#SimulatorTable_hhead::section,
QHeaderView#QSSTableView_vHeader::section,
QHeaderView#QSSTableView_hHeader::section,
QHeaderView#hHeader::section:horizontal,
QHeaderView#hHeader::section {
    border-width: 0px 1px 1px 0px;
    height: 36px;
}

/*-- 表格首列样式 --*/
QHeaderView#SimulatorTable_vhead::section:vertical,
QHeaderView#SimulatorTable_hhead::section:vertical,
QHeaderView#QSSTableView_vHeader::section:vertical,
QHeaderView#QSSTableView_hHeader::section:vertical,
QHeaderView#hHeader::section:vertical,
QHeaderView#vHeader::section {
    border-width: 0px 1px 1px 0px;
    height: 50px;
}

/*-- 表格首行-鼠标悬浮样式 --*/
QHeaderView#SimulatorTable_vhead::section:horizontal:hover,
QHeaderView#SimulatorTable_hhead::section:horizontal:hover,
QHeaderView#QSSTableView_vHeader::section:horizontal:hover,
QHeaderView#QSSTableView_hHeader::section:horizontal:hover,
QHeaderView#hHeader::section:horizontal:hover {
    background-color: #D9E1EC;
    color: #0C1A34;
}

/*-- 表格首行-按下样式 --*/
QHeaderView#SimulatorTable_vhead::section:horizontal:pressed,
QHeaderView#SimulatorTable_hhead::section:horizontal:pressed,
QHeaderView#QSSTableView_vHeader::section:horizontal:pressed,
QHeaderView#QSSTableView_hHeader::section:horizontal:pressed,
QHeaderView#hHeader::section:horizontal:pressed {
    background-color: #D3DBE9;
    color: #0C1A34;
}

/*-- 表格首行-禁用样式 --*/
QHeaderView#SimulatorTable_vhead::section:horizontal:disabled,
QHeaderView#SimulatorTable_hhead::section:horizontal:disabled,
QHeaderView#QSSTableView_vHeader::section:horizontal:disabled,
QHeaderView#QSSTableView_hHeader::section:horizontal:disabled,
QHeaderView#hHeader::section:horizontal:disabled {
    background-color: #f0f0f0;
    color: #999999;
}

/*-- 表格首列样式 --*/
QHeaderView#SimulatorTable_vhead::section:vertical,
QHeaderView#SimulatorTable_hhead::section:vertical,
QHeaderView#QSSTableView_vHeader::section:vertical,
QHeaderView#QSSTableView_hHeader::section:vertical,
QHeaderView#hHeader::section:vertical {
    border: 0px solid #C6CDDC;
    background-color: #E2E8F2;
    color: #0C1A34;
}

/*-- 表格首列-禁用样式 --*/
QHeaderView#SimulatorTable_vhead:vertical:disabled,
QHeaderView#SimulatorTable_hhead:vertical:disabled,
QHeaderView#QSSTableView_vHeader:vertical:disabled,
QHeaderView#QSSTableView_hHeader:vertical:disabled,
QHeaderView#hHeader:vertical:disabled {
    background-color: #f0f0f0;
}

/*-- 表格首行样式 --*/
QHeaderView#SimulatorTable_vhead::section:horizontal,
QHeaderView#SimulatorTable_hhead::section:horizontal,
QHeaderView#QSSTableView_vHeader::section:horizontal,
QHeaderView#QSSTableView_hHeader::section:horizontal,
QHeaderView#SimulatorTable_vhead::section,
QHeaderView#SimulatorTable_hhead::section,
QHeaderView#QSSTableView_vHeader::section,
QHeaderView#QSSTableView_hHeader::section,
QHeaderView#hHeader::section:horizontal,
QHeaderView#hHeader::section {
    border-width: 0px 1px 1px 0px;
    height: 36px;
}

/*-- 表格首列样式 --*/
QHeaderView#SimulatorTable_vhead::section:vertical,
QHeaderView#SimulatorTable_hhead::section:vertical,
QHeaderView#QSSTableView_vHeader::section:vertical,
QHeaderView#QSSTableView_hHeader::section:vertical,
QHeaderView#hHeader::section:vertical,
QHeaderView#vHeader::section:vertical {
    border-width: 0px 1px 1px 0px;
    height: 50px;
}

/*-- 表格首列-鼠标悬浮样式 --*/
QHeaderView#SimulatorTable_vhead::section:vertical:hover,
QHeaderView#SimulatorTable_hhead::section:vertical:hover,
QHeaderView#QSSTableView_vHeader::section:vertical:hover,
QHeaderView#QSSTableView_hHeader::section:vertical:hover,
QHeaderView#hHeader::section:vertical:hover {
    background-color: #D9E1EC;
    color: #0C1A34;
}

/*-- 表格首列-鼠标按下样式 --*/
QHeaderView#SimulatorTable_vhead::section:vertical:pressed,
QHeaderView#SimulatorTable_hhead::section:vertical:pressed,
QHeaderView#QSSTableView_vHeader::section:vertical:pressed,
QHeaderView#QSSTableView_hHeader::section:vertical:pressed,
QHeaderView#hHeader::section:vertical:pressed {
    background-color: #D3DBE9;
    color: #0C1A34;
}

/*-- 表格首列-禁用样式 --*/
QHeaderView#SimulatorTable_vhead::section:vertical:disabled,
QHeaderView#SimulatorTable_hhead::section:vertical:disabled,
QHeaderView#QSSTableView_vHeader::section:vertical:disabled,
QHeaderView#QSSTableView_hHeader::section:vertical:disabled,
QHeaderView#hHeader::section:vertical:disabled {
    background-color: #f0f0f0;
    color: #999999;
}

/*------------用户视图样式------------*/
/*-- 用户视图左上角按钮样式 --*/
QSSPushButton[corner=cornerBtn] {
    border: 0px solid #dddddd;
    background: transparent;
    height: 32px;
}

/*------------数据记录视图------------*/
DataView {
    border: 0px solid #FFFFFF;
    border-radius: 6px;
    background: #FFFFFF;
    color: #0C1A34;
    padding: 12px;

}

/*--数据记录视图表格左上角样式--*/
RecordTableView QTableCornerButton::section {
    background:transparent;
    border-color: #C6CDDC;
    border-left: none;
    border-top: none;
}

/*-- 数据记录视图信息栏样式 --*/
/*-- 提示信息 --*/
QSSLineEdit[DataView=Info] {
    background: #D3DBE9;
    border: 1px solid #B9C2D5;
    color: #0C1A34;
    padding-left: 20px;
}

/*-- 错误信息 --*/
QSSLineEdit[DataView=Error] {
    background: #D3DBE9;
    border: 1px solid #B9C2D5;
    padding-left: 20px;
    color: #0C1A34;
}

/*-- 完成信息 --*/
QSSLineEdit[DataView=Success] {
    background: #D3DBE9;
    border: 1px solid #B9C2D5;
    padding-left: 20px;
    color: #0C1A34;
}

QGroupBox[DataView=groupBox] {
    border: 0px solid #FFFFFF;
    color: #0C1A34;
    qproperty-minimumHeight: 80;
}

/*-- 数据记录视图下拉框样式 --*/
QSSComboBox[DataView=ComboBox] {
    height: 32px;
}

/*-- 数据记录视图时间日期域样式 --*/
CalendarLineEdit[DataView=LineEdit] {
    height: 32px;
}

CalendarLineEdit[OperationRecordView=LineEdit] {
    height: 32px;
}

/*-- 数据记录视图时间日期域右侧按钮样式 --*/
#timeBtn {
    border: 1px solid #B9C2D5;
    background: url(:/images/item_timer_dark.svg) no-repeat center;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F9FBFD, stop:0.5 #F9FBFD, stop:1 #E0E5EF);
    height: 33px;
    width: 34px;
}

/*-- 数据记录视图各功能按钮样式 --*/
QSSPushButton[DataView=viewInfoButton] {
    qproperty-icon: url(:/images/item_search_dark.svg);
    qproperty-iconSize: 24px;
    height: 36px;
    width: 36px;
}

QSSPushButton[DataView=updateButton] {
    qproperty-icon: url(:/images/item_update_dark.svg);
    qproperty-iconSize: 24px;
    height: 36px;
    width: 36px;
}

QSSPushButton[DataView=viewPrevButton] {
    qproperty-icon: url(:/images/item_pre_page_dark.svg);
    qproperty-iconSize: 24px;
    height: 36px;
    width: 36px;
}

QSSPushButton[DataView=viewNextButton] {
    qproperty-icon: url(:/images/item_next_page_dark.svg);
    qproperty-iconSize: 24px;
    height: 36px;
    width: 36px;
}

QSSPushButton[DataView=printButton] {
    qproperty-icon: url(:/images/item_print_dark.svg);
    qproperty-iconSize: 24px;
    height: 36px;
    width: 36px;
}

/*-- 数据记录视图时间日期域展开面板样式 --*/
CalendarDialog {
    border: 1px solid #B9C2D5;
    border-radius: 6px;
    background: #EAF0F9;
}

Calendar[CalendarDialog=Calendar] {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #FFFFFF;
}

/*-- 时间日期域面板头部样式 --*/
QSSLabel[CalendarItem=header] {
    background: transparent;
    color: #A5ADBD;
}

/*-- 时间日期域面板按钮-默认样式 --*/
QSSPushButton.CalendarDatetime {
    border: 0px;
    border-radius: 0px;
    background: #ffffff;
    color: #0C1A34;
    width: 40px;
    height: 40px;
}

/*-- 时间日期域面板按钮-鼠标悬浮样式 --*/
QSSPushButton.CalendarDatetime:hover {
    background: #dcedfe;
}

/*-- 时间日期域面板按钮-按下样式 --*/
QSSPushButton.CalendarDatetime:pressed {
    background: #cfdce8;
}

/*-- 时间日期域面板按钮-禁用样式 --*/
QSSPushButton.CalendarDatetime:disabled {
    color: #f5f5f5;
}

QSSPushButton.current,
QSSPushButton.current:hover,
QSSPushButton.current:pressed {
    background: #2176D9;
    color: #FFFFFF;
}

/*------------操作记录视图------------*/
OperationRecordView {
    border: 0px solid #FFFFFF;
    border-radius: 6px;
    background: #FFFFFF;
    color: #0C1A34;
    padding: 12px;
}

QSSLabel[OperationRecordView=startTimeLable],
QSSLabel[OperationRecordView=endTimelabel] {
    background: transparent;
}
QSSPushButton[OperationRecordView=searchButton] {
    qproperty-icon: url(:/images/item_search_dark.svg);
    qproperty-iconSize: 24px;
    width: 36px;
    height: 40px;
}

/*------------键盘样式------------*/
/*------------数值键盘样式------------*/
NumberInputPanel {
    padding: 2px;
    color: #0C1A34;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #B9C2D5;
}

/*-- 上下限样式 --*/
#limitLabel {
    color: #0C1A34;
    border: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 4px 8px;
    background: #E2E8F2;
    font: 16px;
}

/*-- 输入区域样式 --*/
#inputEdit {
    color: #0C1A34;
    border: 2px solid #B9C2D5;
    border-radius: 4px;
    margin: 2px;
    margin-top: 4px;
    padding: 0px 8px;
    background: #ffffff;
    font: 26px;
    height: 48px;
}

/*-- 普通按键样式 --*/
/*-- 默认样式 --*/
KeyButton {
    color: #0C1A34;
    border: 1px solid #B9C2D5;
    border-radius: 6px;
    margin: 2px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F9FBFD, stop:0.5 #F9FBFD, stop:1 #E0E5EF);
    font: 24px;
    min-width: 60px;
    min-height: 56px;
}

/*-- 鼠标悬浮样式 --*/
KeyButton:hover {
    border: 1px solid #BEDAFF;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F3F8FF, stop:0.5 #F3F8FF, stop:1 #D1DFF5);
}

/*-- 按下样式 --*/
KeyButton:pressed {
    border: 1px solid #C6CDDC;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #EAF0F9, stop:0.5 #EAF0F9, stop:1 #CED7E7);
}

/*-- 禁用样式 --*/
KeyButton:disabled {
    border: 1px solid #E3E7EE;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FDFDFE, stop:0.5 #FDFDFE, stop:1 #F4F6FA);
}

/*-- 控制按键样式 --*/
/*-- 默认样式 --*/
ControlButton {
    color: #454E66;
    border: 1px solid #B9C2D5;
    border-radius: 6px;
    margin: 2px;
    background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #E3EEFB, stop:1 #B8CBEA);
    font: 20px;
	font-weight: bold;
    min-width: 60px;
    min-height: 56px;
}

/*-- 鼠标悬浮样式 --*/
ControlButton:hover {
    border: 1px solid #B9C2D5;
    background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #D2DDEB, stop:1 #ADBFDD);
}

/*-- 按下样式 --*/
ControlButton:pressed {
    border: 1px solid #B9C2D5;
    background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #BBC5D5, stop:1 #9CACC9);
}

/*-- 禁用样式 --*/
ControlButton:disabled {
	color: #A2A6B2;
    border: 1px solid #DCE0EA;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F0F6FD, stop:1 #DCE5F4);
}

/*-- 移动按键样式 --*/
MoveButton {
    border: 0px;
    border-radius: 6px;
    margin: 2px;
    background: #D3DBE9;
    min-width: 60px;
    min-height: 56px;
}

/*-- 控制按键-回退键样式 --*/
ControlButton[NumberInput=btnBackspace] {
    qproperty-icon: url(:/images/bsp_dark.svg);
    qproperty-iconSize: 50px;
}

/*-- 控制按键-Enter键样式 --*/
/*-- 默认样式 --*/
ControlButton[NumberInput=btnEnter] {
    qproperty-icon: url(:/images/enter_light_En.svg);
    qproperty-iconSize: 50px;
    border: 1px solid #3399FF;
	background:qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #3CAEFF, stop:1 #0861F4);
}

/*-- 鼠标悬浮样式 --*/
ControlButton[NumberInput=btnEnter]:hover{
	background:qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #3C98E0, stop:1 #1660D8);
}

/*-- 按下样式 --*/
ControlButton[NumberInput=btnEnter]:pressed{
	background:qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #3E8AC9, stop:1 #1F5DC3);
}

/*-- 控制按键-清空键Clr样式 --*/
ControlButton[NumberInput=btnDel] {
    qproperty-icon: url(:/images/clear_dark_En.svg);
    qproperty-iconSize: 50px;
}

/*-- 移动按键样式 --*/
MoveButton[NumberInput=moveLab] {
    background: #D3DBE9 url(:/images/move_dark.svg) no-repeat center center;
    border: 0px;
    border-radius: 6px;
}

/*------------字符键盘样式------------*/
StringInputPanel {
    padding: 2px;
    color: #0C1A34;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #B9C2D5;
}

/*-- 控制按键-回退键样式 --*/
ControlButton[StringInput=btnBackspace] {
    qproperty-icon: url(:/images/bsp_dark.svg);
    qproperty-iconSize: 50px;
}

/*-- 控制按键-Enter键样式 --*/
/*-- 默认样式 --*/
ControlButton[StringInput=btnEnter] {
    qproperty-icon: url(:/images/enter_String_En.svg);
    qproperty-iconSize: 50px;
    border: 1px solid #3399FF;
	background:qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #3CAEFF, stop:1 #0861F4);
}

/*-- 鼠标悬浮样式 --*/
ControlButton[StringInput=btnEnter]:hover{
	background:qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #3C98E0, stop:1 #1660D8);
}

/*-- 按下样式 --*/
ControlButton[StringInput=btnEnter]:pressed{
	background:qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #3E8AC9, stop:1 #1F5DC3);
}

/*-- 控制按键-大小写键样式 --*/
ControlButton[StringInput=btnCapslockA] {
    background-image:url(:/images/btnCapslock_dark.svg);
}

ControlButton[StringInput=btnCapslockA]:disabled {
    background-image:url(:/images/btnCapslock_dark_disabled.svg);
}

ControlButton[StringInput=btnCapslock] {
    background-image:url(:/images/btnCapslock_dark_a.svg);
}

ControlButton[StringInput=btnCapslock]:disabled {
    background-image:url(:/images/btnCapslock_dark_a_disabled.svg);
}

/*-- 控制按键-空格键样式 --*/
/*-- 默认样式 --*/
ControlButton[StringInput=btnSpace] {
    qproperty-icon: url(:/images/blankspace_dark.svg);
    qproperty-iconSize: 50px;
    border: 1px solid #B9C2D5;
    background:qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #F9FBFD, stop:0.5 #F9FBFD, stop:1 #E0E5EF);
}

/*-- 鼠标悬浮样式 --*/
ControlButton[StringInput=btnSpace]:hover{
	border: 1px solid #BEDAFF;
	background:qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #F3F8FF, stop:0.5 #F3F8FF, stop:1 #D1DFF5);
}

/*-- 按下样式 --*/
ControlButton[StringInput=btnSpace]:pressed{
	border: 1px solid #C6CDDC;
	background:qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #EAF0F9, stop:0.5 #EAF0F9, stop:1 #CED7E7);
}

/*-- 控制按键-清空键Clr样式 --*/
ControlButton[StringInput=btnClr] {
    qproperty-icon: url(:/images/clear_dark_En.svg);
    qproperty-iconSize:50px;
}

/*-- 移动按键样式 --*/
MoveButton[StringInput=moveLab] {
    background: #D3DBE9 url(:/images/move_dark.svg) no-repeat center center;
    border: 0px;
    border-radius: 6px;
}

/*------------报警条样式------------*/
#AlarmBarFrame {
    background: #FF3A5A;
    color: #000000;
    border-radius: 0px;
    border: 0px solid #FF3A5A;
}

/*------------进度条样式------------*/
/*-- 默认样式 --*/
QSSProgressBar#ProgressBarItem {
    border: 2px solid #C6CDDC;
    border-radius: 4px;
    color: #000000;
    text-align: center;
    background-color: #C6CDDC;
}

/*-- 进度条内部样式 --*/
QSSProgressBar#ProgressBarItem::chunk {
    /*-- 默认进度条水平的样式 --*/
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #007EFF, stop:1 #4BF3FF);
    /*-- 垂直样式 --*/
    /*-- background:qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #4BF3FF, stop:1 #007EFF); --*/
    border-radius: 4px;
}

/*-- 禁用样式 --*/
QSSProgressBar#ProgressBarItem:disabled {
    border: 1px solid #dedede;
    color: #999999;
    text-align: center;
    background: #C6CDDC;
    border-radius: 4px;
}

QSSProgressBar#Bar {
    border-radius: 4px;
    background: rgb(198, 205, 220);
}

QSSProgressBar#Bar::chunk {
    background: rgb(51, 153, 255);
    border-radius: 4px;
}


/*-- 字按钮样式 --*/
QSSButton#WordButton_Type{
    border: 1px solid #454E66;
    border-radius: 6px;
}

/*-- 字按钮禁用样式 --*/
QSSButton#WordButton_Type:disabled{
    border: 1px solid #ABAEB8;
}

/*-- 位按钮样式 --*/
QSSButton#BitButton_Type{
    border: 1px solid #073C8C;
    border-radius: 6px;
}

/*-- 位按钮禁用样式 --*/
QSSButton#BitButton_Type:disabled{
    border: 1px solid #92A7C7;
}

/*-- 字状态显示 位状态显示样式 --*/
QSSButton#BitIndicator_Type,
QSSButton#WordIndicator_Type{
    border: 0px;
    border-radius: 0px;
}

QSSFrame#alarmViewFrame
{
	border: 1px solid #adb1c2;
    border-radius: 2px;
}

QSSPushButton#buttonItem:hover  {
    border: 1px solid #B9C2D5;
    color: #0C1A34;
    border-radius: 2px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F9FBFD, stop:0.5 #F9FBFD, stop:1 #E0E5EF);
}

.IoMonitorView
{
	border: 1px solid #E6E6E6;
	border-radius: 6px;
	background: #FFFFFF;
}

.AlarmQueryView
{
	border: 1px solid #E6E6E6;
	color:#000000;
	border-radius: 6px;
	background: #FFFFFF;
}

.AlarmQueryView_groupBox,
.FileBrowserView,
.RemoteDBView,
.FileBrowserView_TreeView,
.RemoteDBView_TableView,
.LockDialog,
UserReportView
{
	color:#000000;
	background: #FFFFFF;
}


#CustomDialog_Listview
{
     color:#0C1A34;
     background-color: #FFFFFF;
     alternate-background-color: #F1F4F8;
}
.VncClientView,
RfbView,
#VncScrollArea
{
    background: #FFFFFF;
    color:#000000;
    border-radius: 4px;
}
/*--------------IpLineEdit-----------------*/
#VncClientIpEdit{
    background-color: #FFFFFF;
    border: 1px solid #BFC7D8;
    border-radius: 4px;
}
#VncClientIpEdit:disabled {
    background-color:#E2E8F2;
    border-color:#B9C2D5;
    color:rgba( 12, 26, 52, 50% );
}
